@import url("https://fonts.googleapis.com/css2?family=Alice&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "bangers";
  src: url("../fuentes/bangers/Bangers.ttf");
  font-family: "effloresce";
  src: url(../fuentes/effloresce/effloresce.otf);
}

.logo {
  height: 100px;
  width: 150px;
  font-size: 100px;
  line-height: 1;
  margin-left: 0px;
}

.navbar {
  padding: 0%;
}

.navbar .container-fluid {
  display: flex;
  flex-direction: column;
  background-color: #4A7C59;
  /* Forest Green */
  margin: 0%;
  padding-bottom: 20px;
}

.nav-link {
  font-family: "effloresce";
  color: #F0EAD6;
  /* Eggshell/Cream for contrast on green */
}

.nav-link:hover {
  background-color: #355E3B;
  /* Darker Green */
  color: white;
}

.nav-border {
  border: 2px solid #F0EAD6;
  color: #F0EAD6;
}

footer {
  background-color: #333;
  color: #ddd;
  font-size: 14px;
  padding: 20px 0;
  padding-bottom: 0%;
}

footer p {
  font-size: medium;
}

.footer-contenido {
  background-color: #2E4A33;
  /* Dark Forest Green */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0px;
}

.footer-section {
  flex-basis: 25%;
  padding: 0 20px;
  text-align: center;
}

.footer-section h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  text-align: center;
  line-height: 2;
}

.footer-section ul li a {
  color: #444;
}

.footer-section {
  flex-basis: 25%;
  padding: 0 20px;
  text-align: center;
}

.footer-section h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  text-align: center;
  line-height: 2;
}

.footer-section ul li a {
  color: #444;
}

.social-media ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social-media ul li {
  margin: 0 10px;
}

.social-media ul li a {
  color: #444;
  font-size: 18px;
}

.social-media ul li a:hover {
  color: #f77;
}

.footer-bottom {
  background-color: #1a2f20;
  /* Very Dark Green */
  color: #ccc;
  font-size: 12px;
  padding: 10px 0;
  text-align: center;
}

.contacto ul li img {
  width: 64px;
  height: 64px;
}

ul li img {
  width: 64px;
  height: 64px;
}

.contenido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-bottom: 35px;
}

.contenido a {
  text-decoration: none;
}

.contenido h2 {
  font-size: xx-large;
  font-family: "bangers";
  text-align: center;
  overflow: hidden;
  padding-top: 41px;
  padding-bottom: 30px;
  color: #5D3A13;
}

.contenido h2:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.contenido__section img {
  position: relative;
  top: 24px;
  width: 42vh;
  left: 80px;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
}

.contenido__section img:hover {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}

.section--tortasbodas img {
  width: 35vh;
  position: relative;
  top: 8px;
  left: 115px;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
}

.section--tortasbodas img:hover {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}

.section--postres img {
  position: relative;
  top: 24px;
  width: 42vh;
  left: 80px;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
}

.section--postres img:hover {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}

.contenido__section--conocenos {
  color: #5D3A13;
  text-align: center;
  font-size: xx-large;
  margin-top: 20px;
}

.contenido__section--conocenos img {
  width: 340px;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
}

.contenido__section--conocenos img:hover {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}

.contenido__section--aprende {
  text-align: center;
  margin-top: 20px;
}

.contenido__section--aprende img {
  height: 12vw;
  width: 40vh;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
}

.contenido__section--aprende img:hover {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}

.contenido__section--contacto {
  text-align: center;
  margin-top: 20px;
}

.contenido__section--contacto img {
  height: 12vw;
  width: 265px;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
}

.contenido__section--contacto img:hover {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .contenido__section {
    grid-area: contenido__section;
  }

  .contenido__section img {
    position: relative;
    top: 27px;
    width: 40vh;
    left: 0px;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
  }

  .contenido__section img:hover {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
  }

  .section--postres {
    grid-area: section--postres;
  }

  .section--postres img {
    position: relative;
    top: 27px;
    width: 40vh;
    left: 0px;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
  }

  .section--postres img:hover {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
  }

  .contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenido a {
    text-decoration: none;
  }

  .contenido h2 {
    font-size: xx-large;
    font-family: "bangers";
    text-align: center;
    overflow: hidden;
    padding-top: 41px;
    padding-bottom: 30px;
    color: #5D3A13;
  }

  .contenido h2:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  .section--tortasbodas {
    grid-area: section--tortasbodas;
  }

  .section--tortasbodas img {
    width: 40vh;
    position: relative;
    top: 2px;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    left: 0px;
  }

  .section--tortasbodas img:hover {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
  }

  .contenido__section--aprende {
    grid-area: contenido__section--aprende;
  }

  .contenido__section--aprende img {
    height: 30vw;
    width: 43vh;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
  }

  .contenido__section--contacto {
    text-align: center;
    margin-top: 20px;
  }

  .contenido__section--contacto img {
    height: 35vw;
    width: 387px;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
  }

  .contenido__section--contacto img:hover {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
  }
}

@media (max-width: 480px) {
  .contenido__section {
    grid-area: contenido__section;
  }

  .contenido__section img {
    position: relative;
    top: 27px;
    width: 40vh;
    left: 0px;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
  }

  .contenido__section img:hover {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
  }

  .section--postres {
    grid-area: section--postres;
  }

  .section--postres img {
    position: relative;
    top: 27px;
    width: 40vh;
    left: 0px;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
  }

  .section--postres img:hover {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
  }

  .contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenido a {
    text-decoration: none;
  }

  .contenido h2 {
    font-size: xx-large;
    font-family: "bangers";
    text-align: center;
    overflow: hidden;
    padding-top: 41px;
    padding-bottom: 30px;
    color: #5D3A13;
  }

  .contenido h2:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  .section--tortasbodas {
    grid-area: section--tortasbodas;
  }

  .section--tortasbodas img {
    width: 40vh;
    position: relative;
    top: 2px;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    left: 0px;
  }

  .section--tortasbodas img:hover {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
  }

  .contenido__section--aprende {
    grid-area: contenido__section--aprende;
  }

  .contenido__section--aprende img {
    height: 30vw;
    width: 43vh;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
  }

  .contenido__section--contacto {
    text-align: center;
    margin-top: 20px;
  }

  .contenido__section--contacto img {
    height: 40vw;
    width: 250px;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
  }

  .contenido__section--contacto img:hover {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
  }
}

.conoceme {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -10%;
  padding-top: 20px;
}

.conoceme p {
  text-align: center;
}

.conoceme img {
  width: 350px;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
  /* margin-right: 50px; */
}

.quien {
  font-size: xx-large;
  padding-left: 40px;
  padding-right: 40px;
}

.cnosotras {
  display: flex;
  justify-content: center;
  padding-bottom: 39px;
  padding-top: 24px;
}

.nosotras1 {
  width: 10vh;
  padding: 0%;
}

.quienes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 13px;
  margin-bottom: 300px;
  margin-top: 100px;
}

.quienes img {
  margin-right: 115px;
  width: 321px;
  height: 561px;
  margin-top: 16px;
  margin-left: 140px;
}

.nosotras2:hover,
.nosotras3:hover,
.nosotras4:hover,
.nosotras5:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  overflow: hidden;
}

@media (max-width: 768px) {
  .quienes {
    display: none;
  }

  .quien {
    margin-bottom: 50px;
  }
}

.productosItem {
  display: flex;
  flex-direction: column;
}

.productosItem ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}

.fotospro {
  width: 240px;
}

.redv {
  width: 130px;
}

.tortainfa img {
  width: 40vh;
}

.productos {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productos h2 {
  font-size: 28px;
  text-align: center;
}

.productos li {
  background-color: white;
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #E56D7E;
  border-radius: 5px;
  text-align: center;
}

.productos img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.productos h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #5D3A13;
}

.productos p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.productos a {
  display: block;
  text-align: center;
  background-color: #E56D7E;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.productos a:hover {
  background-color: #0062cc;
}

h1 {
  text-align: center;
  color: #5D3A13;
}

.cupcafe {
  width: 120px;
}

.tortast p {
  margin-bottom: 70px;
}

.packcup p {
  margin-bottom: 86px;
}

.multimedia {
  border-top: 2px solid;
  display: flex;
  flex-direction: row;
}

.video {
  width: 10%;
  height: 10%;
  /* margin-right: 10px; */
  margin-top: 10px;
  align-self: center;
  width: auto;
}

.muffins {
  background: #f7f5f5;
  font-weight: bold;
  padding: 15px;
  border-bottom: 2px solid #f77;
  padding: 40px;
}

.muffins h1 {
  font-size: 25px;
}

.muffins p {
  font-size: 14px;
  text-align: left;
  margin-top: 10px;
}

.ingredientes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ingredientes li {
  margin-left: 30px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .multimedia {
    border-top: 2px solid;
    display: flex;
    flex-direction: column;
  }

  .video {
    position: relative;
    height: 0;
    padding-bottom: 56.2%;
    margin-bottom: 20px;
  }

  .video iframe {
    width: 100vw;
    height: 32vh;
  }
}

@media (max-width: 480px) {
  .multimedia {
    border-top: 2px solid;
    display: flex;
    flex-direction: column;
  }

  .video {
    position: relative;
    height: 0;
    padding-bottom: 56.2%;
    margin-bottom: 20px;
  }

  .video iframe {
    width: 100vw;
    height: 32vh;
  }
}

.tituloc {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formulario {
  text-align: left;
}

.obligatorio {
  color: red;
}

.aviso {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

form {
  width: 80%;
  margin: 0 auto;
  border: 2px solid #5D3A13;
  padding: 20px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #5D3A13;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  outline: none;
  border-color: #5D3A13;
  box-shadow: 0 0 5px #66afe9;
}

button[type="submit"] {
  background-color: #4A7C59;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #355E3B;
}